<div class="max-w-7xl w-full mx-auto py-24 flex flex-col dark:bg-gray-700">
  <% if Current.session&.user&.admin? %>
    <div class="flex mx-auto mb-8">
      <span class="bg-indigo-100 text-indigo-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-indigo-900 dark:text-indigo-300 mb-auto">You are Admin</span>
      <%= link_to "Create Blog Post", new_admin_post_path, class: "text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-auto cursor-pointer" %>
    </div>
  <% end %>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
    <%= render partial: "post", collection: @posts %>
  </div>
</div>